<section id="about" class="py-5">
    <div class="container d-flex"  style="min-height:100vh; ">
      <div class="row align-items-center justify-content-center">
        
        <!-- About Me Text -->
        <div class="col-md-6 animate-fade-in-left">
          <h2>About Me</h2>
          <p class="lead">
            B.Tech in Electronics and Communication Engineering graduate with a passion
            for building high-performance web and mobile apps.
          </p>
          <a href="assets/resume.pdf" class="btn btn-primary mt-3" target="_blank">
            Download Resume
          </a>
        </div>
  
        <!-- Profile Image -->
        <div class="col-md-6 text-center animate-fade-in-right  mt-5">
          <!-- <img
            src="assets/images/profile2.png"
            alt="Mavish Thota"
            class="img-fluid rounded-circle"
            style="width: 250px; height: 250px; object-fit: cover;"
          /> -->
          <img
  src="assets/images/profile2.png"
  alt="Mavish Thota"
  class="img-fluid rounded-circle"
  style="width: 250px; height: 250px; object-fit: cover; box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);"
/>

        </div>
  
      </div>
    </div>
  </section>
  